@model DMS.Models.BlogPost

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Blog /</span> Create New Blog</h4>

    <div class="row">
    
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Heading" class="control-label"></label>
                            <input asp-for="Heading" class="form-control" />
                            <span asp-validation-for="Heading" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="CoverPhoto" class="control-label"></label>
                            <input asp-for="CoverPhoto" class="form-control" />
                            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Context" class="control-label"></label>
                            <textarea asp-for="Context" name="Context" id="myEditor"></textarea>
                            <span asp-validation-for="Context" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Visible" /> @Html.DisplayNameFor(model => model.Visible)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

      
    </div>
</div>
<!-- / Content -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var editor = new FroalaEditor('#myEditor', {
            // Set custom buttons.
            toolbarButtons: [['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript'], ['fontFamily', 'fontSize', 'textColor', 'backgroundColor'], ['inlineClass', 'inlineStyle', 'clearFormatting']]
        });
    </script>

}