
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- About Section Start -->
<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="about-text">
                    <div class="section-title">
                        <h2>About Axiom Indexing</h2>
                    </div>

                    <p>
                        Axiom Indexing is a database and at the same time a research platform that seeks to broaden and make research activities as well as
                        journals activity livable. The main aim of the Axiom Indexing is to guarantee academic quality and enhance academic integrity.
                        Axiom Indexing looks at the larger academic frontiers in terms of journal indexing and evaluation, book indexing and evaluation,
                        profiling notable researchers, and ranking universities and research institutions.
                    </p>
                    <p>
                        The database gives you access to current
                        multidisciplinary information from the most prestigious, high-impact open access peer-review journals in Africa and the world at
                        large. Axiom Indexing provides unique search methods which make access to information very easy. If you need high-quality
                        information on certain topics you need to use the search engine of Axiom Indexing. This database enables you to find linkages
                        between research and researchers.
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="about-img">
                    <img src="~/assets/img/about.jpg" alt="about image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Our mission Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Our mission</h2>
                    </div>

                    <p>
                        Axiom Indexing's mission is to increase the visibility, accessibility, reputation, usage and impact of quality, peer-reviewed, open
                        access scholarly research journals globally, regardless of discipline, geography or language.
                    </p>

                    <p>
                        Axiom Indexing will work with editors, publishers and journal owners to help them understand the value of best practice publishing and
                        standards and to apply those to their own operations.
                    </p>
                    <p>
                        Axiom Indexing is committed to being 100% independent and maintaining its primary services and metadata as free to use or reuse for everyone.
                    </p>

                </div>
            </div>

            
        </div>
    </div>
</div>
<!-- Our mission Section End -->
<!-- Team Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Team</h2>
                    </div>

                    <p>
                        Axiom Indexing has a well-defined team and group with diverse skills who work together to achieve the goal of guaranteeing
                        academic quality and enhancing academic integrity with database management. Each member of the team has adequate knowledge
                        and specialty in the assigned task to take on an increasing volume of work. The team members bring a high level of ethical standards
                        to their work.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Team Section End -->
<!-- Board of Directors Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Board of Directors</h2>
                    </div>

                    <p>
                        Axiom Indexing Board of Directors come with a wide range of expertise complemented by the in-house Team who set strategies and
                        oversees management. Though Axiom indexing is an online database, the board of directors have zoom meetings to make and
                        implement decisions concerning the database.
                    </p>


                </div>
            </div>


        </div>
    </div>
</div>
<!-- Board of Directors Section End -->
<!-- Advisory Board Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Advisory Board</h2>
                    </div>

                    <p>
                        Axiom Indexing has a group of individuals who serve as advisors regarding content hosted on the database. The advisory board is
                        mostly consulted to bring on board a wider view of the smooth running of the indexing platform. The board serves as an advisory
                        body to help Axiom Indexing gain new insight and advice to solve problems or explore new opportunities by stimulating robust and
                        high-quality solutions for the interest of the users of Axiom indexing platform.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Advisory Board Section End -->
<!-- Participating Publishers Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Participating Publishers</h2>
                    </div>


                    <p>
                        We will be working with publishers like you to support the visibility and value of publications. Axiom Indexing tools will help you
                        establish and strengthen relationships with your editors, reviewers, editors and the research community. Axiom Indexing will give you
                        the ability to manage your content flow from acquisition through to publication. Axiom Indexing will always be with you every step
                        when indexing your journal content by connecting you with several potential authors, streamlining your submission and getting your
                        content seen and cited by researchers. This is possible because of the existence of researchers who profile themselves on our database.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!--Supporting Libraries Section Start -->
<div class="grow-business pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Supporting Libraries</h2>
                    </div>

                    <p>
                        To understand and expand the reach to information, value of information and impact of your library, Axiom Indexing can help you to
                        deliver more value to your library and discover insights that guide the future of your institution. We will provide users with high
                        quality publication and citation data, seamless access to full text and integrated research workflow tools to discover documents.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Supporting Libraries Section End -->
