
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- About Section Start -->
<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="about-text">
                    <div class="section-title">
                        <h2>About Axiom Indexing</h2>
                    </div>

                    <p>
                        Axiom Indexing is a database and at the same time a research platform which seeks to broaden, bring to bear, research activities as
                        well as indexing journals and ranking institutions and scholars. The main aim of Axiom indexing is to guarantee academic quality and 
                        enhancing academic integrity. Axiom’s indexing looks at the larger academic frontiers in terms of journal indexing and evaluation, book 
                        indexing and evaluation, profiling notable researchers, and ranking universities and research institutions.
                    </p>
                    <p>
                        We are the guardians ensuring that only credible, peer-reviewed sources make it to your fingertips, nurturing a culture deeply rooted in academic
                        honesty. Partnering closely with educational institutions, we offer guidance on ethical research practices, publication procedures, and boosting the
                        visibility of top-tier scholarly works. Our unwavering commitment to transparency, fairness, and the gold standard in academic practices defines our 
                        very essence—we are here to uphold the core values that underpin scholarly pursuit. Axiom Indexing gives you access to current and retrospective 
                        multidisciplinary information from most prestigious, high-impact research journals from the world. Axiom Indexing provides unique search methods which 
                        makes access to information very easy. If you need highly qualified information on certain topics you need to use Axiom indexing. This database enables 
                        you to find linkages between research and researchers.
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="about-img">
                    <img src="~/assets/img/about.jpg" alt="about image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Our mission Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Our mission</h2>
                    </div>

                    <p>
                        Our mission is to fortify academic integrity by meticulously curating, indexing, and advocating for scholarly work of the highest standards. 
                        We are dedicated to safeguarding the credibility and authenticity of research by setting stringent criteria for journal inclusion, ensuring 
                        that only rigorously vetted, peer-reviewed sources are accessible.
                    </p>

                </div>
            </div>

            
        </div>
    </div>
</div>
<!-- Our mission Section End -->
<!-- Our vision Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Our vision</h2>
                    </div>

                    <p>
                        Axiom Indexing envisions a global academic landscape where integrity reigns supreme. Our vision is to be the cornerstone of trust and reliability,
                        setting the gold standard for ethical research practices, journal indexing, and university standards worldwide. We aspire to foster a culture where
                        scholarly pursuits thrive on the foundation of credibility, transparency, and unwavering adherence to the highest academic principles.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Our vision Section End -->
<!-- Ethical Guides Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Ethical Guides</h2>
                    </div>

                    <p>
                        As an entity committed to upholding the utmost standards of academic integrity, Axiom Indexing abides by a constitution that serves as the guiding framework for our operations and principles:
                    </p>
                    <p>
                        Integrity and Transparency: Axiom Indexing operates with unwavering integrity, ensuring transparency in all its processes, from journal indexing to collaborations with educational institutions.
                    </p>
                    <p>
                        Quality Standards: We uphold stringent quality benchmarks for journal inclusion, emphasizing academic rigor, peer review, and adherence to ethical guidelines.
                    </p>
                    <p>
                        Empowerment through Education: Our constitution emphasizes empowering scholars and institutions by providing guidance on ethical research practices, publication procedures, and enhancing the visibility of credible scholarly work.
                    </p>
                    <p>
                        Advocacy against Misconduct: Axiom Indexing remains a staunch advocate against academic misconduct, actively combatting unethical practices and promoting a culture of academic honesty.
                    </p>
                    <p>
                        Global Impact: We aspire to have a global impact, shaping an academic landscape where integrity is foundational to all scholarly pursuits, transcending geographical boundaries.
                    </p>
                    <p>
                        Continuous Improvement: Committed to continual growth and evolution, we strive to adapt and improve our processes to align with emerging best practices in academic integrity.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Ethical Guides Section End -->
<!-- Zero tolerance policy Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Zero tolerance policy</h2>
                    </div>

                    <p>
                        Axiom Indexing maintains a stringent zero-tolerance policy towards any form of academic misconduct or ethical breaches within the realm of research, journal indexing, and university standards.
                        We uphold the highest standards of integrity and professionalism, and any instance of plagiarism, data fabrication, falsification, or any other unethical behavior is met with immediate and decisive action. 
                        Our commitment to academic excellence and integrity demands a steadfast stance against any actions that compromise the credibility and authenticity of scholarly work. We stand firm in our resolve to ensure a fair, 
                        transparent, and trustworthy academic environment for all.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Zero tolerance policy Section End -->
<!-- Partnerships and collaborations Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h3>Partnerships and collaborations</h3>
                    </div>

                    <p>
                        Axiom Indexing values robust partnerships and collaborations with academic institutions, research organizations, and scholarly communities globally. Through these alliances, we fortify ethical research practices by providing guidance on
                        publication procedures, peer review standards, and ethical guidelines. Our joint efforts include workshops, resources, and educational initiatives, empowering researchers, faculty, and students with the necessary tools for navigating the academic
                        publishing landscape with integrity. Collaboratively, we endeavor to elevate the visibility of quality scholarly work, facilitate journal indexing, and continually adapt to evolving academic standards, ensuring a steadfast commitment to academic 
                        excellence and integrity across the scholarly community.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Partnerships and collaborations Section End -->


<!-- Team Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Team</h2>
                    </div>

                    <p>
                        Axiom Indexing has a well-defined team and group with diverse skills who work together to achieve the goal of guaranteeing
                        academic quality and enhancing academic integrity with database management. Each member of the team has adequate knowledge
                        and specialty in the assigned task to take on an increasing volume of work. The team members bring a high level of ethical standards
                        to their work.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Team Section End -->
<!-- Board of Directors Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Board of Directors</h2>
                    </div>

                    <p>
                        Axiom Indexing Board of Directors come with a wide range of expertise complemented by the in-house Team who set strategies and
                        oversees management. Though Axiom indexing is an online database, the board of directors have zoom meetings to make and
                        implement decisions concerning the database.
                    </p>


                </div>
            </div>


        </div>
    </div>
</div>

<!-- Board of Directors Section End -->
<!-- Volunteers Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Volunteers</h2>
                    </div>

                    <p>
                        At Axiom Indexing, volunteers play a crucial role in upholding our commitment to academic integrity and excellence. We welcome passionate
                        individuals who share our dedication to promoting ethical research practices and maintaining the highest standards of scholarly work. Volunteers
                        contribute their expertise in various capacities, assisting in peer review processes, indexing evaluations, and supporting educational initiatives
                        aimed at enhancing academic integrity. Their valuable contributions aid in the meticulous curation of credible scholarly sources, ensuring the quality
                        and reliability of our indexed journals. We provide volunteers with opportunities for professional growth, skill development, and the chance to be part
                        of a community dedicated to advancing the integrity of academic research.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Volunteers Section End -->
<!-- Advisory Board Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Advisory Board</h2>
                    </div>

                    <p>
                        Axiom has a group of individual who serve as a think tank for the database. The advisory board is mostly consulted when axiom is faced with a problem relating 
                        to the smooth running of the indexing platform. The board serve as an advisory body to help Axiom gain new insight and advice to solve problems or explore new
                        opportunities by stimulating robust and high quality solutions all in the interest of the users of Axiom indexing database.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Advisory Board Section End -->

<!-- Participating Publishers Section Start -->
<div class="grow-business pb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Participating Publishers</h2>
                    </div>


                    <p>
                        We will be working with publishers like you to support the visibility and value of publications. Axiom tools will help you establish and strengthen relationships with your
                        editors, reviewers, editors and the research community. Axiom will give the ability to manage your content flow from acquisition through to publication. Axiom will always be
                        with you every step when publishing your book or journal by connecting you with several potential authors, streamlining your submission and getting your content seen and 
                        cited by researchers.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!--Supporting Libraries Section Start -->
<div class="grow-business pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="grow-text">
                    <div class="section-title">
                        <h2>Supporting Libraries</h2>
                    </div>

                    <p>
                        To understand and expand the reach to information, value of information and impact of your library, Axiom can help you to deliver more value to your library and discover insights that 
                        guide the future of your institution. We will provide users with high quality publication and citation data, seamless access to full text and integrated research workflow tools to
                        discover documents.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- Supporting Libraries Section End -->
