
@{
    ViewData["Title"] = "Appeals Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Appeals Process</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Appeals Process</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Privacy Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>Appeals Process</h2>

            <p>
                Axiom is committed to its appeal process most especially when their book or journal is declined by Axiom database. If authors or believe the decision to reject the submission was not in accordance with journal policy and procedure,
                the author may appeal the decision by providing the editor with a detailed point by point response to the reviewer. If the decision to decline the submission was made in line with editor criteria, the editor’s decision to reject will then be final.
                Appeal of journals and books will follow these principles; Fairness, Confidentiality, Clarity and Speed. Axiom Indexing recognizes the importance of providing a fair and transparent appeals process for stakeholders seeking reconsideration of decisions 
                related to content inclusion, collaborations, or other relevant matters. The appeals process typically involves the following steps:
            </p>
            <p>
                <ul>
                    <li>
                        <h3>Submission of Appeal: </h3>
                        Individuals or entities submit a formal appeal outlining the specific grounds for reconsideration. This could include disputes related to content rejection, exclusion from the index, or dissatisfaction with decisions affecting collaborations.
                    <li>
                        <h3>Review by Appeals Committee:</h3>
                         A dedicated appeals committee or panel, independent of the initial decision-making body, thoroughly reviews the appeal. This committee comprises qualified experts or individuals with relevant expertise and impartiality.
                    </li>
                    <li>
                        <h3>Re-evaluation of Information: </h3>
                        The appeals committee re-evaluates the information provided in the appeal, along with any pertinent documentation or evidence, ensuring a comprehensive understanding of the situation.
                    </li>
                    <li>
                        <h3>Fair Assessment and Decision: </h3>
                        The committee conducts a fair and impartial assessment of the appeal, taking into account the established criteria, ethical standards, and all available information. They then make a reasoned and informed decision regarding the appeal.
                    </li>
                    <li>
                        <h3> Communication of Outcome: </h3>
                        Once the decision is reached, the appeals committee communicates the outcome to the appellant, providing clear explanations for the decision made. This communication may include recommendations or guidance for further actions if applicable.
                    </li>
                    <li>
                        <h3>Follow-up Actions: </h3>
                        : If the appeal is successful, appropriate actions are taken based on the decision. This might include reconsideration of content inclusion, revisions to decisions affecting collaborations, or any other necessary steps to address the appeal's resolution.
                    </li>
                    
                </ul>
            </p>
           
        </div>
    </div>
</div>
<!-- Privacy Section End -->
