
@{
    ViewData["Title"] = "Appeals Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Appeals Process</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Appeals Process</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Privacy Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>Appeals Process</h2>

            <p>
                Axiom Indexing understands the importance of a fair and transparent appeals process, especially when it comes to the removal of journals or books from its database.
                If a Publisher believes that the decision to reject their submission was not in accordance with Axiom Indexing's policies or was unfair, they may appeal the decision by providing the editor with a detailed response to the review process leading up to the rejection.
            </p>
            <p>
                If the editor's decision to decline the submission was made in line with Axiom Indexing's criteria, then the decision will be final. However, if the appeal is deemed valid, a new panel of experts will be empaneled to review the submission again. Axiom Indexing ensures that all parties involved in a complaint are treated fairly, and only necessary information will be disclosed to resolve the issue.
                The company strives to communicate with clarity and resolve complaints as quickly as possible to ensure a smooth appeals process.
            </p>
        </div>
    </div>
</div>
<!-- Privacy Section End -->
