
@{
    ViewData["Title"] = "Book Inclusion Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Book Inclusion Process</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Book Inclusion Process</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Privacy Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>Book Inclusion Process</h2>

            <p>
                At Axiom Indexing, we take great care in ensuring the quality of the books included in our database.
                To ensure that only high-quality books are included, we have a thorough book inclusion process that evaluates each book before it is added to our database.
            </p>
            <p>
                Our book inclusion process consists of three stages: the Initial stage, the Editorial Stage, and the Editorial Evaluation.
                At the Initial stage, we ensure that the book has clear and unambiguous identification and that the author(s) details are clearly stated.
            </p>
            <p>
                At the Editorial stage, we evaluate whether the book is suitable for full editorial evaluation.
                This stage checks for any major issues that might prevent the book from being included in our database.
            </p>
            <p>
                Finally, at the Editorial Evaluation stage, we carefully evaluate the book's alignment with the scope of our database, the expertise of its editors, and the authorship. We ensure that the book meets our high standards for academic excellence before we include it in our database.
            </p>
            <p>
                We understand that the inclusion process can be challenging for authors and publishers, but we believe that it is a necessary step in promoting high-quality academic publishing. By working with us to meet our standards, authors and publishers can enhance the visibility and impact of their books in the academic community.
            </p>
        </div>
    </div>
</div>
<!-- Privacy Section End -->
