
@{
    ViewData["Title"] = "Citation Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Citation Report</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Citation Report</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Citation Report Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>Citation Report</h2>

            <p>
                Citation report from Axiom indexing will provide a composite of various citation statistics for your search results.
                Citation will provide Axiom with the number of items published each year and the number of citation each year, the counts for the average number of citation per item,
                the number of citations per year per publication, average number of citations per year per publication. A citation report can be generated from any set of search result.
            </p>

            <h4>These reports typically include various metrics and analyses:</h4>
            <ul>
                <li>
                    <h3>Citation Counts: </h3>The total number of times the work has been cited in other scholarly publications. This count can include self-citations (citations from the work's own authors).
                </li>
                <li>
                    <h3>Citation Trends: </h3> Analysis of citation patterns over time, showing how the citations have evolved year by year.

                </li>
                <li>
                    <h3>Citation Context:</h3> Examination of the context in which the work is cited, including the titles and sources of the citing papers. This can reveal the areas of research where the work has had the most impact.v
                </li>
                <li>
                    <h3>Citation Metrics:</h3>Metrics derived from citation data, such as the h-index, which measures both the productivity and impact of a researcher's work based on the number of citations received.
                </li>
            </ul>

        </div>
    </div>
</div>
<!-- Citation Report Section End -->
