
@{
    ViewData["Title"] = "Citation Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Citation Report</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Citation Report</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Citation Report Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>Citation Report</h2>

            <p>
                Citation report in Axiom indexing will provide a composite of various citation statistics for your search results. Citation will provide
                Axiom Indexing with the number of items published each year and the number of citations each year, the counts for the average
                number of citations per item, the number of citations per year per publication, average number of citations per year per publication. A
                citation report can be generated from any set of search result.
            </p>
        </div>
    </div>
</div>
<!-- Citation Report Section End -->
