
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg17">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>FAQ</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Faq Section Start -->
<section class="faq-section pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="accordions">
                    <div class="accordion-item">
                        <div class="accordion-title" data-tab="item1">
                            <h2> How can I contribute to  Axiom Indexing?<i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="item1">
                            <p>
                                <ol>
                                    <li>
                                        <strong>
                                            Support us with a financial contribution
                                        </strong>
                                        <ul>Contributions help keep the  Axiom Indexing service running and allow us to develop it further.</ul>
                                    </li>
                                    <li>
                                        <strong>
                                            If you have evidence that a journal in  Axiom Indexing might be questionable, contact us.
                                        </strong>
                                        <ul>
                                            All information shared with  Axiom Indexing is done so in confidence and is never published.
                                        </ul>
                                        <ul>
                                            Include the ISSN of the journal when you email us.
                                        </ul>

                                    </li>
                                    <li>
                                        <strong>
                                            If you find a broken link or something that is out of date or incomplete, contact us.
                                        </strong>
                                        <ul>
                                            We are always grateful when our users are our eyes and ears.
                                        </ul>
                                        <ul>
                                            For broken links in articles, include the journal’s ISSN, title and the title of the article.
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>
                                            Become a volunteer
                                        </strong>
                                        <ul>
                                            From time to time, we put out a call for volunteers. Follow us on Twitter or our blog to find out when the next call is published.
                                        </ul>
                                    </li>
                                </ol>
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-tab="item2">
                            <h2>How do I reset my password?<i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="item2">
                            <p>
                                If you cannot log in, you can reset your password. An email is sent to your email address with a rest link. That link is only valid for 24 hours. Check your Spam folder to make sure the link doesn't go in there. If you do not receive the email, contact us.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-tab="item3">
                            <h2>I know a journal which should be in Axiom Indexing but isn’t. What should I do?<i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="item3">
                            <p>
                                Contact the journal and ask them to submit an application. You can also send us the details of the journal—title and ISSN—and we will contact them.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-tab="item4">
                            <h2>The journal I am looking for isn’t in Axiom Indexing. Why?<i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="item4">
                            <p>
                                Maybe the journal hasn’t applied to us or its application is still in progress. Maybe the journal was removed from Axiom Indexing.
                            </p>
                        </div>
                    </div>

                 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq Section End -->