
@{
    ViewData["Title"] = "General Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>General Policies</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>General Policies</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Privacy Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>General Policies</h2>

            <p>
                Axiom Indexing operates under a set of policies to ensure the delivery of quality information. These policies include copyright, digital collection and preservation, and technology. Copyright materials are ubiquitous, and we follow all copyright laws in our operations, requiring all publishers to comply with the same. Additionally, we prioritize the preservation of digital content, recognizing the importance of retaining access to scholarly information for future generations.
                Our technology policies ensure the smooth functioning of the database and the accuracy of the information contained within it.
            </p>
        </div>
    </div>
</div>
<!-- Privacy Section End -->
