
@{
    ViewData["Title"] = "Journal Inclusion Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Journal Inclusion Process</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Journal Inclusion Process</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Privacy Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>Journal Inclusion Process</h2>

            <p>
                Axiom indexing is committed to providing the most trustworthy and proven scholarly information therefore inclusion of information is important to the database. A lot of factors are considered before Axiom includes journal to it data base, the journal must go through a series of assessments and these include:
            </p>
            <ul>
                <li>
                    <h3>Application Submission: </h3>Journals seeking inclusion in the index submit an application that includes detailed information about the publication, such as its scope, editorial policies, peer review process, publication frequency, ethical guidelines, and the qualifications of the editorial board.
                </li>
                <li>
                    <h3>Initial Screening: </h3> The submitted applications undergo an initial screening by the index's editorial team to assess their alignment with the inclusion criteria. This step ensures that the journals meet the basic prerequisites for further evaluation.
                </li>
                <li>
                    <h3>In-depth Evaluation:</h3>Journals passing the initial screening undergo comprehensive evaluation by subject matter experts and reviewers. This evaluation focuses on various aspects, including the journal's academic rigor, quality of peer review, editorial standards, and adherence to ethical guidelines, impact factor, citation analysis, and overall scholarly contribution.
                </li>
                <li>
                    <h3>Editorial Decision-making: </h3>Based on the evaluations and assessments, the editorial board or review committee deliberates on the inclusion or exclusion of the journal from the index. This decision-making process is guided by the established inclusion criteria and aims to ensure consistency, fairness, and credibility in the index.
                </li>
                <li>
                    <h3>Notification and Feedback: </h3> Journals receive notification of the decision, accompanied by constructive feedback or recommendations if applicable. This transparent communication fosters an understanding of the criteria for inclusion and encourages improvements if necessary.
                </li>
                <li>
                    <h3>Periodic Review and Updates:</h3> Indexed journals undergo periodic reassessment to ensure that they continue to meet the index's standards. This iterative process allows for the maintenance of a curated collection of high-quality scholarly journals.
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Privacy Section End -->
