@{
    ViewData["Title"] = "Journal Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Journal Index</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Journal Index</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Privacy Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>JOURNAL MASTER LISTS</h2>

            <p>
                The idea of Axiom Indexing journal master list is to create a possibility for scientific journals from all over the world by verifying 
                them in terms of using transparent editorial practices. Journal Master Lists play a pivotal role in academic research and publication. 
                These comprehensive catalogs serve as essential resources for scholars, researchers, and institutions, offering a curated collection of reputable 
                journals within various academic disciplines.
            </p>
            <p>
                They typically encompass a wide range of criteria and classifications, such as impact factors, citation metrics, peer review processes, publication frequency, and editorial policies.
                Any journal that is not verified in these terms are marked with the proper warnings and these are transparency warning and predatory alert. Axiom journal list would be used to evaluate submitted periodicals.
                Users of Axiom indexing database will have access to the free tool that will allow them to search for all titles covered by Axiom.
            </p>

            <h2>Journal index</h2>

            <p>
                Axiom Indexing is committed to arranging all journals on it platform organized by subject, discipline and type of publication that will make it very easy for users to get access to information or content. 
                Indexed journals undergo thorough assessments based on various criteria, such as academic rigor, peer review quality, ethical standards, relevance to specific disciplines, and adherence to publication guidelines. 
                Being indexed in reputable databases increases a journal's visibility, potentially leading to higher citations, wider readership, and increased impact on academic discourse. For journals, being indexed signifies 
                recognition of their scholarly quality and adherence to stringent publishing standards. This recognition enhances the journal's prestige and trustworthiness, attracting submissions from researchers aiming to publish in reputable outlets.
                Also, Journal index will help Axiom achieve it main purpose of being accessible to a wide group of researchers and a more accessible journal having higher reputation with high quality of knowledge in the field of research you are interested in.
            </p>
        </div>
    </div>
</div>
<!-- Privacy Section End -->