
@{
    ViewData["Title"] = "Why Index Your Journal In Axiomindexing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Title Start -->
<section class="page-title title-bg20">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Why Index Your Journal In Axiomindexing</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Why Index Your Journal In Axiomindexing</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Privacy Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>Why Index Your Journal In Axiomindexing</h2>

            <p>
                Axiomindexing indexes and promotes quality, peer-reviewed open access journals from around the world. We see open access as the only truly sustainable model for the future of scholarly publishing. DOAJ strives to achieve an equitable global transition to open access by raising the reputation and visibility of peer-reviewed open access journals from any country or discipline.
            </p>
        </div>
    </div>
</div>
<!-- Privacy Section End -->
