
@{
    ViewData["Title"] = "XML";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title Start -->
<section class="page-title title-bg17">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>XML</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>XML</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- XML Section Start -->
<div class="privacy-section pt-100 pb-100">
    <div class="container">
        <div class="privacy-text">
            <h2>XML</h2>


            <p>
                Article metadata is provided to Axiom Indexing by publishers on the understanding that the data will then be available for free, to be distributed to any third party who wants it.
            </p>
            <p>
                We do not check metadata quality as we ingest it — this is the publisher's responsibility — so any errors (for example, typos in author names, URLs, or DOI) will not be corrected. Users of our metadata may contact us to ask for metadata to be  corrected.
            </p>
            <h2>Uploading an XML file</h2>
            <ul>
                <li>
                    First convert your article metadata into an accepted XML format: Axiom Indexing or Crossref.
                    <ul>
                        <li>It must be structured correctly.</li>
                        <li>Its format must follow a set of rules laid out in the <a href="http://doaj.org/static/doaj/doajArticles.xsd" referrerpolicy="no-referrer" rel="noopener noreferrer" target="_blank">Axiom Indexing XML schema file</a>, or the rules laid out in <a href="https://www.crossref.org/documentation/schema-library/xsd-schema-quick-reference/" referrerpolicy="no-referrer" rel="noopener noreferrer" target="_blank">Crossref’s schema file</a>.</li>
                    </ul>
                </li>
                <li>If you are creating Axiom Indexing XML manually, try <a href="https://jsonformatter.org/xml-formatter" referrerpolicy="no-referrer" rel="noopener noreferrer" target="_blank">formatting</a> and <a href="https://www.xmlvalidation.com/" referrerpolicy="no-referrer" rel="noopener noreferrer" target="_blank">validating</a> the file before you upload it to us.</li>
                <li>If you are exporting XML from an OJS plugin, you can <a href="/publisher/uploadfile">upload the file</a> immediately.</li>
            </ul>

            <h2>List of Axiom Indexing XML elements</h2>
            <p>
                Here is a table of each element in the Axiom Indexing XML file. It shows you whether or not the element is required by the Axiom Indexing schema. Providing as much information in the metadata as possible ensures a more complete record in our database and allows the record to be distributed more easily to other services.
            </p>
        </div>
    </div>
</div>
<!-- XML Section End -->