@model AxiomAdmin.ViewModel.DirectorsContextsViewModel

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="BoardOfDirectors.Id" />

    <div class="row">
        <div class="col mb-3">
            <label asp-for="BoardOfDirectors.FullName" class="control-label"></label>
            <input asp-for="BoardOfDirectors.FullName" class="form-control" />
            <span asp-validation-for="BoardOfDirectors.FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img src="https://localhost:7043/assets/img/directors/@Html.DisplayFor(model => model.BoardOfDirectors.ImageUrl)"
                         alt="user-avatar"
                         class="d-block rounded"
                         height="100"
                         width="100"
                         id="updateuploadedAvatar" />
                    <div class="button-wrapper">
                        <label for="uploads" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input type="file"
                                   id="uploads" name="newImageFile"
                                   class="account-file-update-input"
                                   hidden
                                   accept="image/png, image/jpeg" />
                        </label>
                        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                        </button>

                        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col mb-3">
            <label asp-for="BoardOfDirectors.Position" class="control-label"></label>
            <input asp-for="BoardOfDirectors.Position" class="form-control" />
            <span asp-validation-for="BoardOfDirectors.Position" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-primary">Submit changes</button>
    </div>
</form>