@model AxiomAdmin.ViewModel.VolunteersViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Contexts /</span> Volunteers Context</h4>


    <!-- Style variation -->
    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
            Create New Contexts
        </button>
    </p>
    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">New Contexts</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="_SaveVolunteers" />
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Edit Contexts</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="editPartialContainer"></div>

                </div>

            </div>
        </div>
    </div>

    <!-- Outline -->

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <partial name="_ClientCard" />


    </div>
    <!--/ Style variation -->


</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            // Edit button click event
            $('.edit-item-btn').on('click', function () {
                var id = $(this).data('id');
                var url = '@Url.Action("Edit", "Volunteers")/' + id;

                $.get(url, function (data) {
                    $('#editPartialContainer').html(data);
                    $('#editModal').modal('show');
                });
            });

            // Form submission within the edit modal
            $('#editModal').on('submit', 'form', function (e) {
                e.preventDefault();
                var form = $(this);

                $.ajax({
                    url: form.attr('action'),
                    method: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        $('#editModal').modal('hide');
                        // Refresh the main view, assuming there is a container with ID "categotriesList"
                        $('#Volunteers').load(window.location.href + ' #Volunteers');
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>

    <script src="~/assets/js/pages-account-settings.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}