<!-- Footer Section Start -->
<footer class="footer-area pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget">
					<div class="footer-logo">
						<a asp-controller="Home" asp-action="Index">
							<img src="https://img.axiomindexing.com/assets/img/logo.png" alt="logo">
						</a>
					</div>

					<p>
						Axiom Indexing is a database and at the same time a research platform that seeks to broaden and make research activities as well as journals activity livable.
					</p>

					<div class="footer-social">
						<a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
						<a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
						<a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget pl-60">
					<h3>For Candidate</h3>
					<ul>
						<li>
							<a asp-controller="Home" asp-action="EvaluateProcess">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Evaluation Process
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="EditorialSelectionProcess">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Editorial Selection Process
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="JournalInclusionProcess">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Journal Inclusion Process
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="BookInclusionProcess">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Book Inclusion Process
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="JournalIndex">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Journal Index
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="CitationReport">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Citation Report
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="GuideToApplying">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Guide To Applying
							</a>
						</li>

						<li>
							<a href="https://author.axiomindexing.com/Identity/Account/Register?returnUrl=%2F" target="_blank">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Sign Up
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget pl-60">
					<h3>Quick Links</h3>
					<ul>
						<li>
							<a asp-controller="Home" asp-action="Index">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Home
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="About">
								<i class='bx bx-chevrons-right bx-tada'></i>
								About
							</a>
						</li>
						<li>
							<a asp-controller="Blog" asp-action="Index">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Blog
							</a>
						</li>
						<li>
							<a href="#">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Rankings
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="FAQ">
								<i class='bx bx-chevrons-right bx-tada'></i>
								FAQ
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="API">
								<i class='bx bx-chevrons-right bx-tada'></i>
								API
							</a>
						</li>
						<li>
							<a asp-controller="Home" asp-action="XML">
								<i class='bx bx-chevrons-right bx-tada'></i>
								XML
							</a>
						</li>
						<li>
							<a href="#">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Privacy
							</a>
						</li>
						<li>
							<a href="#">
								<i class='bx bx-chevrons-right bx-tada'></i>
								Contact
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget footer-info">
					<h3>Information</h3>
					<ul>
					@*	<li>
							<span>
								<i class='bx bxs-phone'></i>
								Phone:
							</span>
							<a href="tel:+233543888745">
								+233 54 388 8745
							</a>
						</li>*@

						<li>
							<span>
								<i class='bx bxs-envelope'></i>
								Email:
							</span>
							<a href="mailto:info@axiomindexing.com">
								info@axiomindexing.com
							</a>
						</li>

						@*<li>
							<span>
								<i class='bx bx-location-plus'></i>
								Address:
							</span>
							123, Denver, USA
						</li>*@
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright-text text-center">
	<p>&copy;  <script>document.write(new Date().getFullYear())</script> Axiom Indexing by <a href="#" target="_blank">Hublinksoft</a></p>
</div>
<!-- Footer Section End -->
<!-- Back To Top Start -->
<div class="top-btn">
	<i class='bx bx-chevrons-up bx-fade-up'></i>
</div>
<!-- Back To Top End -->
