<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_title_meta" />
    <partial name="_head_css" />

</head>
<body>
   
    <partial name="_navbar" />

    @RenderBody()

    <partial name="_footer" />
    <partial name="_js_scripts" />
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
